.env
.env.*
!.env.example

.git
.github
.gitignore

node_modules
**/node_modules

dist
build
coverage
release
tmp
temp
.tmp
cache
.cache
logs
*.log

*.rar
*.zip
*.tar
*.tar.gz
*.tgz
*.7z

*.db
*.sqlite
*.sqlite3
*.pid

Dockerfile*
.dockerignore
